.cardContainer {
    left: 0;
    right: 0;
    background: var(--background-panel-darker);
    margin: 6px 6px 0 6px;
    border-radius: 5px;
    position: relative;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.cardContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(45deg, var(--accent-purple), var(--accent-blue));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cardTitle {
    margin: 5px 10px 2px 10px;
    font-weight: 600;
    font-size: 17px;
    padding: 0;
}

.cardComparison {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
}

.cardComparisonBefore {
    background: #282C34;
    height: 80px;
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    overflow: auto;
}

.cardMessage {
    width: 250px;
    height: 80px;
    margin: 0 10px 0 10px;
    text-wrap: normal;
    overflow-x: auto;
    font-size: 14px;
    font-weight: 400;
}

.cardComparisonArrow {
    width: 50px;
    height: auto;
    margin-left: 9px;
}

.buttonContainer {
    display: flex;
}

.cardButton {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin: 10px 10px 0 10px;
    position: relative;
    background: linear-gradient(45deg, rgba(237, 75, 255, 0.50), rgba(75, 75, 255, 0.50));
    border-radius: 5px;
    border-style: none;
}

.cardButton > div{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardButton > div:hover{
    transition: 200ms;
    background: rgba(0, 0, 0, 0.30);
}

.cardButton::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(45deg, var(--accent-purple), var(--accent-blue));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}